#uploadReport {
    max-width: 190px;
    display: none;
}
  
.labelFile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 250px;
    height: 190px;
    border: 2px dashed #ccc;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

#fileName {
    color: #59A4BC;
    font-weight: bold;
}


@media screen and (max-width: 509px) { /*phone (reduced)*/
    .uploadContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.uploadContainer p {
    font-size: large;
    text-align: center;
}

#telegramID {
    max-width: 12rem;
}

#newAdminUser {
    max-width: 15rem;
}
  