* text=auto

*.py    text eol=lf
*.html  text eol=lf
*.css   text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.txt   text eol=lf
*.sql

*.sh    text eol=lf

*.png   binary
*.jpg   binary
*.sqlite binary
*.pdf binary