anyio==4.3.0
blinker==1.7.0
cachetools==5.3.3
camelot-py==0.9.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
et-xmlfile==1.1.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SSLify==0.1.5
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.3
MarkupSafe==2.1.5
numpy==1.26.4
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
pandas==2.2.2
pdfminer.six==20231228
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyMySQL==1.1.1
pyparsing==3.1.2
PyPDF2==2.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==21.1.1
pytz==2024.1
requests==2.31.0
six==1.16.0
sniffio==1.3.1
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
