[Unit]
Description=Service for mail and telegram for SwallowSpot webapp
After=network.target

[Service]
User=swallowspot
Group=swallowspot
WorkingDirectory=/var/www/swallowspot.it/SwallowSpot/
ExecStart=/var/www/swallowspot.it/SwallowSpot/venv/bin/python /var/www/swallowspot.it/SwallowSpot/mail_telegram.py
Restart=on-failure
RestartSec=5

# Redirect logs to custom log files
StandardOutput=append:/var/log/swallowspot/swallowspot.log
StandardError=append:/var/log/swallowspot/swallowspot_error.log

[Install]
WantedBy=multi-user.target
