{% extends "registration/login-layout.html" %}

{% block content %}

<h2>Accedi</h2>

<form action="{{ url_for('login') }}" method="post">
    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email" aria-label="Email">
    </div>

    <div class="input-group mb-3">
        <input type="password" class="form-control" id="textPassword" placeholder="Password" aria-label="Password" aria-describedby="showPasswordToggle">
        <button class="btn btn-outline-secondary" type="button" id="showPasswordToggle"><i class="fa-solid fa-eye"></i></button>      
    </div>

    <p>
        Voglio essere ricordato &ThickSpace;
        <label class="switch">
            <input type="checkbox" id="rememberMe">
            <span class="slider"></span>
        </label>
    </p>

    <button type="submit" class="btn btn-success mb-2">Accedi</button>
    <br>
    <a href="{{ url_for('register') }}">Non ho ancora un account</a>
</form>

{% endblock %}