/*home title image*/

.logo picture {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logo picture img {
    aspect-ratio: 16/9;
    object-fit: contain;
    width: 70%;
}

@media screen and (max-width: 767px) { /*phone*/
    .logo picture img {
        aspect-ratio: 1/1;
        width: 80%;
    }
}

@media screen and (min-width: 768px) { /*tablet / pc*/
    .logo picture img {
        margin-top: -4vw;
    }
}

/*overview section*/

.overview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}