/*home title image*/

.logo picture {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logo picture img {
    aspect-ratio: 16/9;
    object-fit: contain;
    width: 70%;
}

@media screen and (max-width: 767px) { /*phone*/
    .logo picture img {
        aspect-ratio: 1/1;
        width: 80%;
    }
}

@media screen and (min-width: 768px) { /*tablet / pc*/
    .logo picture img {
        margin-top: -4vw;
    }
}

/*overview section*/

.overview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*your situation section*/

.your-situation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
}

.risk-out-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
}

.risk-out-home p {
    margin-top: 1rem;
}

.risk-out-home .basin {
    text-align: center;
}

/*actual bulletin section - wind / snow*/

.actual-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.wind-pulse {
    animation: pulse-wind 1s infinite;
}

.snow-pulse {
    animation: pulse-snow 1s infinite;
}

.fa-wind, .fa-snowflake {
    font-size: 2rem;
}

@keyframes pulse-wind {
    50% {
        box-shadow: 0 0 15px red;
    }
}

@keyframes pulse-snow {
    50% {
        box-shadow: 0 0 15px aqua;
    }
}

/*service description section*/

.service-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10%;
}

.service-desc div {
    font-size: x-large;
    align-items: center;
}

.service-desc strong {
    color: #00667C;
}

.showButton {
    border: none;
    background-color: transparent;
    color: #00667C;
    text-decoration: underline;
}

@media screen and (min-width: 768px) { /*tablet*/
    #showMoreSm {
        display: none;
    }

    #readMoreSm {
        display: block;
    }
}

@media screen and (min-width: 1024px) { /*pc*/
    #showMoreMd {
        display: none;
    }

    #readMoreMd {
        display: block;
    }
}