/*for cookies*/

.disappear {
    animation: disappearAnim 1s ease;
    opacity: 0;
    display: none;
}
.block {
    animation: disappearAnim 0s ease;
    opacity: 0;
    display: none;
}

@keyframes disappearAnim {
    0% {opacity: 1; display: flex;}
    99% {opacity: 0; display: flex;}
    100% {display: none;}
}