.pop-out {
    width: fit-content;
    height: fit-content;
    position: fixed;
    left: 100%;
    bottom: 5%;
}

.show-pop-out {
    position: absolute;
    right: calc(100% + 0.5rem);
    bottom: 0;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
}

.show-pop-out span {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-pop-out:hover {
    cursor: pointer;
}

#calendar-out {
    padding: 1rem;
    width: 15rem;
    position: relative;
}

.calendarSlideIn {
    animation: calendarSlideIn 1s;
}

@keyframes calendarSlideIn {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.calendarSlideOut {
    animation: calendarSlideOut 1s;
}

@keyframes calendarSlideOut {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

.arrowSlideIn {
    animation: arrowSlideIn 1s;
}

@keyframes arrowSlideIn {
    from {
        right: 0.5rem;
    }
    to {
        right: calc(100% + 0.5rem);
    }
}

.arrowSlideOut {
    animation: arrowSlideOut 1s;
}

@keyframes arrowSlideOut {
    from {
        right: calc(100% + 0.5rem);
    }
    to {
        right: 0.5rem;
    }
}

.rotateArrowIn {
    animation: rotateArrowIn 1s;
}

@keyframes rotateArrowIn {
    from {
        transform: rotateY(-180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.rotateArrowOut {
    animation: rotateArrowOut 1s;
}

@keyframes rotateArrowOut {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

/*events*/

.event {
    border-radius: 50%;
    content: " ";
    display: block;
    background: #59A4BC;
}

.event:hover {
    background: #4c8ca1;
}