@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #EDFCFF;
    /*background-color: rgb(20, 20, 20);*/
}

/*navbar*/

/*#navbar-top {
    background-color: #00283Bdd;
    width: 100%;
    height: 15rem;
    /*box-shadow: 0 0 8px 8px #00283b22 inset;*/
/*}

#navbar-top img {
    opacity: 0.5;
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 24rem;
    margin-left: 0;
    object-position: 0 0;
}*/

header {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0.5vw 10% 0;
    transition: top 0.3s;
    display: flex;
    gap: 2%;
    z-index: 2;
    box-shadow: 0 -8px 8px 4px #00283b22;
}

#menu {
    background-color: #00283Bdd;
}

header div{
    display: flex;
    padding: 5px 5px 0 5px;
}

@media screen and (max-width: 767px) { /*phone*/
    /*#navbar-top img {
        margin-left: 0;
    }*/

    header {
        padding: 1vw;
    }
}

/*menu + login*/

.nav-sides {
    width: fit-content;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.nav-sides a {
    color: white;
}

.nav-sides a:hover {
    animation: bounce 1s ease;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/*central links*/

#links {
    flex-wrap: nowrap;
    /*justify-content: space-evenly;*/
    align-items: center;
    width: 100%;
}

header #links a {
    padding: 1vw;
    display: block;
    float: left;
    color: white;
    text-decoration: none;
    border-radius: 1vw 1vw 0 0;
    /*background-color: rgba(0, 102, 124, 0.3);*/
    width: 100%;
    text-align: center;
}

header #links a:hover {
    background-color: #59a4bccc;
    color: white;
    transition-duration: 250ms;
}

@media screen and (max-width: 600px) { /*phone*/
    header #links .shrink1, header #links .shrink2 {
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 1023px) { /*tablet*/
    header #links .shrink2 {
        display: none;
    }
}

/*offcanvas menu*/

.offcanvas {
    background-color: #00283B;
    color: white;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 0;
}

.offcanvas-body div {
    display: flex;
    flex-direction: column;
    font-size: large;
}

.offcanvas-body div h5 {
    padding: 1rem;
    padding-bottom: 0;
}

.offcanvas-body div a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    padding-left: 2rem;
}

.offcanvas-body div a:hover {
    background-color: #00667c99;
    transition-duration: 150ms;
}

/*container for different pages' layouts*/

.content {
    margin: 2rem 0 7rem;
}

@media screen and (max-width: 767px) { /*phone*/
    .content {
        margin-top: 2rem;
    }
}

/*@media screen and (min-width: 768px) and (max-width: 1023px) { /*tablet*//*
    .content {
        margin-top: 10vw;
    }
}*/

/*footer*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #00283B;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3vw;
    /*padding: 3vw 9vw 3vw 3vw;*/
    align-items: center;
    gap: 2vw;
    /*z-index: 2;*/
}

.footer-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
    gap: 4vw;
    flex-direction: column;
}

footer img {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 20%;
}

.credits-out {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.credits-in .column {
    width: 15em;
}

#ourEmailLink {
    text-decoration: underline;
    cursor: pointer;
}

.credits-in a {
    color: white;
}

.foot-subtitle {
    font-weight: bold;
    font-size: x-large;
}

.copyright {
    opacity: 0.6;
}

/*social links*/

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 3vw;
}

.social-links button {
    padding: 1vw;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 4vw;
    color: white;
    border-bottom: 0.1em solid;
    z-index: 1;
}

.social-links button::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .4s ease;
}

.social-links button:hover::after {
    height: 100%;
}

#telegram {
    border-bottom-color: #1E94D2;
}

#telegram::after {
    background-color: #1E94D2;
}

#github {
    border-bottom-color: #000000;
}

#github::after {
    background-color: #000000;
}

#mail {
    border-bottom-color: #E35A46;
}

#mail::after {
    background-color: #E35A46;
}

#regioneveneto {
    border-bottom-color: #EC9A27;
}

#regioneveneto::after {
    background-color: #EC9A27;
}

@media screen and (max-width: 1023px) { /*phone / tablet*/
    .social-links button {
        padding: 2vw;
        font-size: 10vw;
    }
}

@media screen and (min-width: 768px) { /*tablet / pc*/
    .footer-in {
        flex-direction: row;
    }

    .credits-out {
        align-items: start;
    }

    .credits-in {
        flex-direction: row;
        align-items: start;
    }
}

/*custom buttons*/

.btn-success {
    background-color: #00283B;
    border-color: #00283B;
}

.btn-success:hover {
    background-color: #00202e;
    border-color: #00202e;
}

.btn-success:disabled {
    background-color: #00283Bff;
    border-color: #00283Bff;
}

.btn-primary {
    background-color: #00667C;
    border-color: #006b83;
}

.btn-primary:hover {
    background-color: #004c5e;
    border-color: #004c5e;
}