@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');    /* Import the 'Open Sans' font from Google Fonts */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


body{
  display: flex;        /* Display body as flex container */
  align-items: center;      /* Align items vertically in the center */
  justify-content: center;      /* Justify content horizontally in the center */
  min-height: 90vh;        /* Set minimum height to 100% of viewport height */
  flex-direction: column;
}

#snakegame {
  color: green;
}


.case{
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #4e8d5c;        /* Set the colour for the background of the score table */
  box-shadow: 0 0px 30px #00FF00;     /* Shadow colour */
}


.game-details{
  color: #dadada;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}


.play-board{
  height: 100%;
  width: 100%;
  display: grid;
  background: #7bc957;        /* Colour of the playboard (field) */
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}


.play-board .food{
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.play-board.apple{
    background-image: url('../images/AppleEmoji_snake.png');      /* Take the image of a red apple emoji for displaying the food */
}

.play-board.banana
{
    background-image: url('../images/BananaEmoji_snake.png');     
}

.play-board.cherry
{
    background-image: url('../images/CherryEmoji_snake.png');     
}

.play-board.peach
{
    background-image: url('../images/PeachEmoji_snake.png');     
}

.play-board.pear{
    background-image: url('../images/PearEmoji_snake.png');     
}

.play-board.strawberry{
    background-image: url('../images/StrawberryEmoji_snake.png');     
}

.play-board .head
{
    background: #349347;      /* Snake head colour*/
    border-radius: 5px;      /* Set the head with the round corners */
}


@media screen and (max-width: 800px){
  .case{
    width: 90vmin;
    height: 100vmin;
  }

  .game-details{
    font-size: 1rem;
    padding: 15px 27px;
  }

  .controls{
    display: flex;
  }

  .controls i{
    padding: 15px 0;
    font-size: 1rem;
  }
}


#gameOverScreen{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #d8d8d8;     /* Colour of the background of the gameover screen  */
  color: #1d1d1d;     /* Colour of the text for score */
  padding: 20px;
  border-radius: 5px;
}
