{% extends "layout.html" %}

{% block content %}

<!--<ul>
    {% for person in people %}
    <li>{{ person['name'] + " " + person['surname'] + ", " }} telephone number: {{ person['phone'] }}</li>
    {% endfor %}
</ul>-->

<form action="{{ url_for('contacts') }}" method="post">
    <input type="text" id="name" name="name" placeholder="name">
    <input type="text" id="surname" name="surname" placeholder="surname">
    <input type="text" id="phone" name="phone" placeholder="phone number">
    <input type="submit">
</form>
<br>

<ul>
    {% for person in people %}
    <li>{{ person['name'] + " " + person['surname'] + ", " }} telephone number: {{ person['phone'] }}
        <button class="btn btn-danger" onclick="remove({{ person['id'] }})">X</button>

    </li>
    {% endfor %}
</ul>

<script>
    function remove(id) {
        var url = "http://127.0.0.1:11551/contacts/" + id
        $.ajax({
            url: url,
            type: "DELETE",
            success: function(result) {
                console.log("Successfully removed a person")
                window.location = window.location
            }
        })
    }
</script>

{% endblock %}