@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #EDFCFF;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 10%;
    transition: top 0.3s;
}

header div{
    display: flex;
    flex-wrap: wrap;
    /*margin: 0 10% 0 10%;*/
    background-color: rgba(0, 40, 59, 0.97);
    clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
    justify-content: center;
}

@media screen and (max-width: 767px) {
    header {
        padding: 0;
    }
    
    header div {
        clip-path: none;
    }
}

header a {
    padding: 20px;
    display: block;
    float: left;
    color: white;
    text-decoration: none;
}

header a:hover {
    background-color: #00667C;
}

#cookies {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 5px double #00283B;
    border-radius: 1em;
    padding: 1em;
    max-width: 30em;
}

@media screen and (max-width: 767px) {
    #cookies {
        left: 10px;
        max-width: 100%;
    }
}

#cookieButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.btn-success {
    background-color: #00283B;
    border-color: #00283B;
}

.btn-success:hover {
    background-color: #00202e;
}

.btn-primary {
    background-color: #00667C;
    border-color: #006b83;
}

.btn-primary:hover {
    background-color: #004c5e;
}

/*home*/

.logo picture {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.logo picture img {
    aspect-ratio: 16/9;
    object-fit: contain;
    width: 70%;
}

@media screen and (max-width: 767px) {
    .logo picture {
        margin-top: 5em;
    }

    .logo picture img {
        aspect-ratio: 1/1;
        width: 80%;
    }
}