@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #EDFCFF;
    /*background-color: rgb(20, 20, 20);*/
}

/*navbar*/

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1vw 10%;
    transition: top 0.3s;
    display: flex;
    gap: 2%;
}

@media screen and (max-width: 767px) {
    header {
        padding: 1vw;
    }
}

header div{
    display: flex;
    /*margin: 0 10% 0 10%;
    background-color: rgba(0, 40, 59, 0.97);
    clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);*/
    /*background-color: rgba(167, 199, 224, 0.8);*/
    /*border: 2px solid #EDFCFF;*/
    background-color: rgba(89, 164, 188, 0.8);
    border-radius: 20px;
    padding: 5px 5px 0 5px;
    filter: drop-shadow(0 5px 0px #00283B);
}

/*menu + login*/

.nav-sides {
    width: fit-content;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.nav-sides a {
    color: #00283B;
}

/*central links*/

#links {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

header #links a {
    padding: 1vw;
    display: block;
    float: left;
    color: #00283B;
    text-decoration: none;
    border-radius: 1vw;
    /*background-color: rgba(0, 102, 124, 0.3);*/
}

header #links a:hover {
    background-color: rgba(0, 102, 124, 0.6);
    color: white;
}

/*offcanvas menu*/

.offcanvas {
    background-color: #00283B;
    color: white;
}  

/*cookies label*/

#cookies {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 5px double #00283B;
    background-color: #EDFCFF;
    border-radius: 1em;
    padding: 1em;
    max-width: 30em;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    #cookies {
        left: 10px;
        max-width: 100%;
    }
}

#cookieButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.btn-success {
    background-color: #00283B;
    border-color: #00283B;
}

.btn-success:hover {
    background-color: #00202e;
}

.btn-primary {
    background-color: #00667C;
    border-color: #006b83;
}

.btn-primary:hover {
    background-color: #004c5e;
}

/*footer*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #00283B;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3vw 9vw 3vw 3vw;
    align-items: center;
    gap: 3vw;
}

.footer-in {
    display: flex;
    justify-content: space-between;
    gap: 4vw;
}

footer img {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 20%;
}

.credits-out {
    width: 100%;
}

.credits-in {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foot-subtitle {
    font-weight: bold;
    font-size: x-large;
}

.copyright {
    opacity: 0.6;
}

/*social links*/

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 3vw;
}

.social-links button {
    padding: 1vw;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 3vw;
    color: white;
    border-bottom: 5px solid;
    z-index: 1;
}

.social-links button::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .4s ease;
}

.social-links button:hover::after {
    height: 100%;
}

#telegram {
    border-bottom-color: #1E94D2;
}

#telegram::after {
    background-color: #1E94D2;
}

#facebook {
    border-bottom-color: #325BFE;
}

#facebook::after {
    background-color: #325BFE;
}

#mail {
    border-bottom-color: #E35A46;
}

#mail::after {
    background-color: #E35A46;
}

#regioneveneto {
    border-bottom-color: #EC9A27;
}

#regioneveneto::after {
    background-color: #EC9A27;
}

/*home*/

.logo picture {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.logo picture img {
    aspect-ratio: 16/9;
    object-fit: contain;
    width: 70%;
}

@media screen and (max-width: 767px) {
    .logo picture {
        margin-top: 9vw;
    }

    .logo picture img {
        aspect-ratio: 1/1;
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo picture {
        margin-top: 6vw;
    }
}