{% extends "layout.html" %}

{% block content %}

<div class="feed-container">
    <h1>Lascia un <strong class="highlighted">feedback</strong></h1>
    <form action="" method="post" class="mt-5">
        <input type="text" class="form-control" placeholder="Oggetto" name="feedObject" id="feedObject">
        <textarea name="feedDesc" id="" cols="30" rows="10" class="form-control mt-2" placeholder="Descrivi il problema"></textarea>
        <button type="submit" class="btn btn-success mt-2">Invia feedback</button>
    </form>
</div>

{% endblock %}