{% extends "auth/login_layout.html" %}

{% block content %}

<h2>Codice Autenticazione</h2>
<p>Ti abbiamo inviato una mail con il codice di autenticazione</p>
<form action="{{ url_for('auth.auth_password') }}" method="post">
    <div id="authCode" class="mb-2">
        <div class="input-group">
            <input name="code_auth"  class="form-control" onkeyup="check_password()" id="auth1" placeholder="Cod. autenticazione" aria-describedby="confirmPsw1" onfocus="showRequirements()" onblur="dismissRequirements()">
        </div>
    </div>
    <button type="submit" class="btn btn-success" id="reset-psw-submit">Conferma</button>
    <br>
    {{msg}}
</form>

{% endblock %}