{% extends "auth/login_layout.html" %}

{% block content %}

<h2>Recupera Password</h2>

<form action="{{ url_for('auth.recover_password') }}" method="post">
    <p>Per recuperare la password, inserisci il nome utente dell'account associato</p>
    <!--username-->
    <div class="input-group mb-3">
        <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username">
    </div>
    <div class="input-group mb-3">
        <input name="email" type="email" class="form-control" placeholder="Email" aria-label="email">
    </div>
    <div class="input-group mb-1">
        <button class="btn btn-success mb-2" type="submit" id="recover_password">Recupera Password</button>    
    </div>
    <div class="error-msg">
        {{msg}}
    </div>
    <br>
</form>

{% endblock %}