{% extends "auth/login_layout.html" %}

{% block content %}

<h2>Recupera Password</h2>

<form action="{{ url_for('auth.reset_password') }}" method="post">
    <!--new password-->
    <div id="pswRequirements" class="mb-2">
        <div class="input-group">
            <input name="password" type="password" class="form-control" id="textPassword" placeholder="Password" aria-label="Password" onkeyup="check_password()" onfocus="showRequirements()" onblur="dismissRequirements()" aria-describedby="showPasswordToggle">
            <button class="btn btn-outline-primary" type="button" id="showPasswordToggle"><i class="fa-solid fa-eye"></i></button>      
        </div>
        <div id="requirements" class="card">
            <div class="triangle-up" id="triangle"></div>
            La password deve contenere almeno:
            <ul>
                <li>8 caratteri</li>
                <li>un numero</li>
                <li>una lettera maiuscola</li>
                <li>un carattere speciale</li>
            </ul>
        </div>
    </div>
    <div class="input-group mb-3">
        <input name="password2" type="password" class="form-control" id="textPassword2" placeholder="Conferma password" onkeyup="check_password()" aria-label="Password" aria-describedby="showPasswordToggle2">
        <button class="btn btn-outline-primary" type="button" id="showPasswordToggle2"><i class="fa-solid fa-eye"></i></button>
        <span class="input-group-text" id="confirmPsw2">
            <i class="fa-solid fa-xmark"></i>
        </span>
    </div>
    <button type="submit" class="btn btn-success" id="reset-psw-submit">Conferma</button>
    <br>
    {{msg}}
</form>

<script>
    function check_password() {
        psw1 = $("#textPassword").val();
        psw2 = $("#textPassword2").val();
        $("#confirmPsw2").empty();
        html_block = "";
        if (psw1 === psw2 && psw1 != '') {
            html_block = '<i class="fa-solid fa-check"></i>';
            //$("#signup-submit").prop("type", "submit");
        } else {
            html_block = '<i class="fa-solid fa-xmark"></i>';
            //$("#signup-submit").prop("type", "button");
        }
        $("#confirmPsw2").append(html_block)
    }
</script>

{% endblock %}