{% extends "auth/login_layout.html" %}

{% block content %}

<h2>Registrati</h2>

<form action="{{ url_for('auth.signup') }}" method="post">
    <div class="input-group mb-3">
        <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username">
    </div>
    <div class="input-group mb-3">
        <input name="password" type="password" class="form-control" id="textPassword" placeholder="Password" aria-label="Password" aria-describedby="showPasswordToggle">
        <button class="btn btn-outline-primary" type="button" id="showPasswordToggle"><i class="fa-solid fa-eye"></i></button>      
    </div>
    <div class="input-group mb-3">
        <input name="password2" type="password" class="form-control" id="textPassword2" placeholder="Conferma password" aria-label="Password" aria-describedby="showPasswordToggle2">
        <button class="btn btn-outline-primary" type="button" id="showPasswordToggle2"><i class="fa-solid fa-eye"></i></button>
        <span class="input-group-text" id="confirmPsw2">
            <i class="fa-solid fa-xmark"></i>
        </span>
    </div>
    
    <select name="region" id="region" class="form-select mb-3" aria-label="Select you region">
        <option selected>Seleziona la tua regione di residenza</option>
        <option selected name="zone">valstagna</option>
    </select>
    {{msg}}
    <br>
    <button type="submit" class="btn btn-success mb-2">Registrati</button>
    <br>
    <a href="{{ url_for('auth.login') }}">Ho gi&agrave; un account</a>
</form>

<script>
    var psw1 = document.getElementsByName("password");
    var psw2 = document.getElementsByName("password2");
    if(psw1 == psw2)
        document.getElementById("confimPsw2").innerHTML='<i class="fa-solid fa-check"></i>'
    else
        document.getElementById("confimPsw2").innerHTML='<i class="fa-solid fa-xmark"></i>'

    if(localStorage.getItem("mode") == "dark") {
        //dark mode
        psw2.setAttribute('data-bs-theme', "dark");
    }
    else {
        //light mode
        psw2.setAttribute('data-bs-theme', "light");
    }
</script>

{% endblock %}