{% extends "layout.html" %}

{% block content %}

<script src="{{ url_for('static', filename = 'js/profile_actions.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<div class="profile-out">
    <div id="profile">
        <h1>Sezione Utente <strong style="color: #00667C">Amministratore</strong></h1>
        <!--insert report manually-->
        <h2 class="mt-3">Carica un bollettino <span style="color: #00667C;">manualmente</span></h2>
        <form action="" method="post" class="uploadContainer mt-4" id="uploadArea">
            <label for="uploadReport" class="labelFile">
                <span>
                    <svg
                    xml:space="preserve"
                    viewBox="0 0 184.69 184.69"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns="http://www.w3.org/2000/svg"
                    id="Capa_1"
                    version="1.1"
                    width="60px"
                    height="60px"
                    >
                        <g>
                            <g>
                                <g>
                                    <path
                                    d="M149.968,50.186c-8.017-14.308-23.796-22.515-40.717-19.813
                                        C102.609,16.43,88.713,7.576,73.087,7.576c-22.117,0-40.112,17.994-40.112,40.115c0,0.913,0.036,1.854,0.118,2.834
                                        C14.004,54.875,0,72.11,0,91.959c0,23.456,19.082,42.535,42.538,42.535h33.623v-7.025H42.538
                                        c-19.583,0-35.509-15.929-35.509-35.509c0-17.526,13.084-32.621,30.442-35.105c0.931-0.132,1.768-0.633,2.326-1.392
                                        c0.555-0.755,0.795-1.704,0.644-2.63c-0.297-1.904-0.447-3.582-0.447-5.139c0-18.249,14.852-33.094,33.094-33.094
                                        c13.703,0,25.789,8.26,30.803,21.04c0.63,1.621,2.351,2.534,4.058,2.14c15.425-3.568,29.919,3.883,36.604,17.168
                                        c0.508,1.027,1.503,1.736,2.641,1.897c17.368,2.473,30.481,17.569,30.481,35.112c0,19.58-15.937,35.509-35.52,35.509H97.391
                                        v7.025h44.761c23.459,0,42.538-19.079,42.538-42.535C184.69,71.545,169.884,53.901,149.968,50.186z"
                                    style="fill:black;"
                                    ></path>
                                </g>
                                <g>
                                    <path
                                    d="M108.586,90.201c1.406-1.403,1.406-3.672,0-5.075L88.541,65.078
                                        c-0.701-0.698-1.614-1.045-2.534-1.045l-0.064,0.011c-0.018,0-0.036-0.011-0.054-0.011c-0.931,0-1.85,0.361-2.534,1.045
                                        L63.31,85.127c-1.403,1.403-1.403,3.672,0,5.075c1.403,1.406,3.672,1.406,5.075,0L82.296,76.29v97.227
                                        c0,1.99,1.603,3.597,3.593,3.597c1.979,0,3.59-1.607,3.59-3.597V76.165l14.033,14.036
                                        C104.91,91.608,107.183,91.608,108.586,90.201z"
                                    style="fill:black;"
                                    ></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </span>
                <p>Clicca qui per selezionare un file!</p>
            </label>
            <input name="uploadReport" id="uploadReport" type="file" accept=".pdf" required="required">
            <p>File selezionato: <span id="fileName">nessuno</span></p>
            <div class="error-msg mt-2">
                {{upload_error}}
            </div>
            <button type="submit" class="btn btn-success mt-1 btn-lg"><i class="fa-solid fa-upload"></i> Carica bollettino</button>
        </form>

        <!--link your profile with tg bot-->
        <h2 class="mt-3">Collega il tuo account al <span style="color: #00667C;">Bot Telegram</span></h2>
        <div class="mb-2">
            <!--messaggi da inserire!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            (linked) <span style="color: green;"><i class="fa-solid fa-check"></i> Account gi&agrave; collegato</span>
            (not linked) <span style="color: red;"><i class="fa-solid fa-xmark"></i> Account non ancora collegato</span>-->
            {{linked_account}}
        </div>
        <p>
            Come ricavare il tuo <strong>USER ID Telegram</strong>:
            <ol>
                <li>Apri <strong>Telegram</strong> e cerca "<i><strong>SwallowSpotBot&ThinSpace;</strong></i>"</li>
                <li>Avvia una chat e digita "<code>/start</code>"</li>
                <li>Clicca "<strong>Dammi il mio CHAT_ID</strong>"</li>
                <li>Copia il <strong>chat_id</strong> ricevuto e inseriscilo nel testo qui sotto</li>
            </ol>
        </p>
        <form method="POST" action="{{ url_for('profile.insert_id') }}">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="ChatID" name="ChatID" placeholder="ID Telegram" oninput="checkInput(this)">
                <span class="input-group-text" id="confirmIDcheck">
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>
            <div id="error" class="error-msg mb-3"></div>
            
        
        <div class="mb-3">
            <!--messaggi da inserire!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            (linked) <span style="color: green;"><i class="fa-solid fa-check"></i> Account gi&agrave; collegato</span>
            (not linked) <span style="color: red;"><i class="fa-solid fa-xmark"></i> Account non ancora collegato</span>-->
            {{linked_group}}
        </div>
        <p>
            Come ricavare il tuo <strong> GROUP ID</strong>:
            <ol>
                <li>Apri <strong>Telegram</strong> e crea un gruppo con dentro il nostro <strong>Bot</strong>&ThinSpace;</i></li>
                <li>Imposta il Bot come <strong>admin</strong> del gruppo Telegram</li>
                <li>Digita "<code>/group_id</code>"</li>
                <li>Copia il <strong>group_id</strong> ricevuto e inseriscilo nel testo qui sotto</li>
            </ol>
        </p>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">-</span>
                <input type="text" class="form-control" id="GroupID" name="GroupID" placeholder="ID gruppo Telegram" oninput="checkGroupInput(this)">
                <span class="input-group-text" id="confirmGroupIDcheck">
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>
            <div id="error2" class="error-msg mb-3"></div>

            <button type="submit" class="btn btn-success" id="confirmButton" disabled>Conferma</button>
        </form>

        <!--create new admin user-->
        <h2 class="mt-3">Crea un nuovo profilo <span style="color: #00667C;">Amministratore</span></h2>
        <form action="{{ url_for('auth.signup') }}" method="post">
            <div class="input-group mb-3">
                <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username">
            </div>
            <div class="input-group mb-3">
                <input name="password" type="password" class="form-control" id="psw1" placeholder="Password" aria-label="Password" onkeyup="check_password()" aria-describedby="showPasswordToggle">
                <button class="btn btn-outline-primary" type="button" id="showPasswordToggle1"><i class="fa-solid fa-eye"></i></button>      
            </div>
            <div class="input-group mb-3">
                <input name="password2" type="password" class="form-control" id="psw2" placeholder="Conferma password" onkeyup="check_password()" aria-label="Password" aria-describedby="showPasswordToggle2">
                <button class="btn btn-outline-primary" type="button" id="showPasswordToggle2"><i class="fa-solid fa-eye"></i></button>
                <span class="input-group-text" id="confirmPsw2">
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>
            <div id="searchbar" class="mb-3">        <!--search bar-->
                <input autocomplete="false" name="hidden" type="text" style="display: none;">
                <input type="text" placeholder="Inserisci il tuo comune" name="city" id="bar" onkeyup="autocompleteBar()" class="form-control">
                <div class="autocomplete-items rounded-bottom" id="autocomplete-list"></div>
            </div>
            <div class="error-msg">
                {{msg}}
            </div>
            <br>
            <button type="button" id="psw-submit" class="btn btn-success mb-2" >Registra nuovo account</button>
        </form>

        <!--add admin user from existing account-->
        <h2 class="mt-3">Aggiungi un account esistente agli <span style="color: #00667C;">Amministratori</span></h2>
        <div class="input-group mb-2 mt-2">
            <input type="text" class="form-control" id="newAdminUser" name="newAdminUser" placeholder="Inserisci nome utente">
        </div>
        <div class="error-msg">
            {{msg_error}}
        </div>
        <div class="success-msg mb-3">
            {{msg_success}}
        </div>
        <button type="button" class="btn btn-success" id="confirmNewAdmin" disabled>Conferma</button>

        <a href="{{ url_for('profile.user') }}" class="btn btn-success btn-lg mt-5"><i class="fa-solid fa-gear"></i> Impostazioni del profilo</a>

        <!--super admin actions-->
        <h1 class="mt-5">Sezione Utente <strong style="color: #00667C">Super Amministratore</strong></h1>
        <!--backups-->
        <h2 class="mt-3">Esegui un <span style="color: #00667C;">backup</span> del database</h2>
        <div class="input-group mt-2">
            <input type="text" class="form-control" id="bkpServerIP" placeholder="IP del server per backup" oninput="checkInputIP(this)" maxlength="15">
            <span class="input-group-text" id="confirmIPcheck">
                <i class="fa-solid fa-xmark"></i>
            </span>
        </div>
        <div class="error-msg mb-3">
            <div id="IPerror"></div>
            {{ip_error}}
        </div>
        <button type="button" class="btn btn-success btn-lg mt-2" id="backupBtn" disabled><i class="fa-solid fa-arrow-rotate-right"></i> Esegui Backup</button>
        <p class="mt-1">Il file di backup viene salvato (dove?)</p>
    </div>
</div>

<script src="{{url_for('static', filename = 'js/search_bar.js')}}"></script>

<script>
    /*autocomplete list size*/
    function setAutocompleteListWidth() {
        var inputWidth = document.getElementById('bar').offsetWidth;
        document.getElementById('autocomplete-list').style.width = inputWidth + 'px';
    }

    document.getElementById('bar').addEventListener('input', setAutocompleteListWidth);
    window.addEventListener('resize', setAutocompleteListWidth);

    //show file name under the upload button
    var input = document.getElementById( 'uploadReport' );
    var infoArea = document.getElementById( 'fileName' );

    input.addEventListener( 'change', showFileName );

    function showFileName( event ) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = fileName;
    }

    //light/dark mode
    var path = document.querySelectorAll("path");
    var confirms = document.querySelectorAll(".input-group");

    if(localStorage.getItem("mode") == "dark") {
        //dark mode
        path.forEach(function (e) {
            e.style.fill = "white";
        });
        confirms.forEach(function (e) {
            e.setAttribute('data-bs-theme', "dark");
        });
    }
    else {
        //light mode
        path.forEach(function (e) {
            e.style.fill = "black";
        });
        confirms.forEach(function (e) {
            e.setAttribute('data-bs-theme', "light");
        });
    }

</script>

{% endblock %}